
/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */

body {
	background: lightgray;
	color: darkslategrey;
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: darkslategray;
	font-size: 1.5rem;
	font-weight: 400;
	margin-bottom: 0.75rem;
}

h4 {
	color: grey;
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.title {
	display: flex;
}

.title input {
	margin-left: 0.5rem;
	flex: 1 1 0%;
	min-width: 0;
}

.title, .title input {
	color: darkslategray;
	font-size: 1.5rem;
	font-weight: 700;
}

.toDoDone input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: darkslategray;
	background-color: white;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);;
	margin-bottom: 1.5rem;
}

.toDoDone .options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

 .toDoDone .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);;
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid red;
	box-shadow: 0px 0px 4px red;
}

.bubble.low {
	border-color: teal;
	box-shadow: 0px 0px 4px teal;
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: red;
	box-shadow: 0px 0px 4px red;
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.low::after {
	background-color: teal;
	box-shadow: 0px 0px 4px teal;
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.toDoDone .options label div {
	color: darkslategrey;
	font-size: 1.125rem;
	margin-top: 1rem;
}

.toDoDone button[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: goldenrod;
	box-shadow: 0px 0px 4px teal;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.toDoDone button[type="submit"]:hover {
	opacity: 0.75;
}

.todoList .list {
	margin: 1rem 0;
}

.todoList .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);;
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
	color: darkslategrey;
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: blueviolet;
}

.todo-item .actions .delete {
	background-color: orangered;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: grey;
}